@model ShopBuy7.Models.HomeModel
@{
    ViewData["Title"] = "Home";
}
<partial name="Slider" />

<div class="container">

    <div class="two-card row py-4 gap-1 justify-content-end">
        <div class="owl-carousel owl-theme">
            <div class="col-12 py-3 px-2" style="background-color: #f5f5f5; border-radius: 10px;">
                <div class="row justify-content-between">
                    <div class="col-12 col-sm-6">
                        <img class="w-100" src="https://images.unsplash.com/photo-1510127034890-ba27508e9f1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
                    </div>
                    <div class="col-12 col-sm-6 p-2">
                        <h4 class="card_header">Catch Big Deal of the Cameras</h4>
                        <a class="shopNowBtn">shop now <span>></span></a>
                    </div>
                </div>
            </div>

            <div class="col-12 py-3 px-2" style="background-color: #f5f5f5; border-radius: 10px;">
                <div class="row justify-content-between">
                    <div class="col-12 col-sm-6">
                        <img class="w-100" src="https://images.unsplash.com/photo-1510127034890-ba27508e9f1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
                    </div>
                    <div class="col-12 col-sm-6 p-2">
                        <h4 class="card_header">Catch Big Deal of the Cameras</h4>
                        <a class="shopNowBtn">shop now <span>></span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 py-3 px-2" style="background-color: #f5f5f5; border-radius: 10px;">
                <div class="row justify-content-between">
                    <div class="col-12 col-sm-6">
                        <img class="w-100" src="https://images.unsplash.com/photo-1510127034890-ba27508e9f1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
                    </div>
                    <div class="col-12 col-sm-6 p-2">
                        <h4 class="card_header">Catch Big Deal of the Cameras</h4>
                        <a class="shopNowBtn">shop now <span>></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Featured Topsale And TopRated*@
    <div class="row">
        <div class="dealheading col-lg-3 position-relative">
            <div class="position-relative w-100">
                <img class="w-100" src="~/images/OtherBanner/homeDeal1.jpg" />
                <a class="btn position-absolute" style="background: var(--BColor);left: 25%;bottom: 11%;width:auto;padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);" asp-action="">Start Buying</a>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="row col-12 justify-content-end">
                <div class="col-12  text-center" style="border-bottom: 1px solid #c1b1b1;padding-bottom: 3px;">
                    <a id="Featured" class="cateBtn active" href="javascript:void(0)">Featured</a>
                    <a id="OnSales" class="cateBtn" href="javascript:void(0)">On Sale</a>
                    <a id="TopReted" class="cateBtn" href="javascript:void(0)">Top Reted</a>
                </div>
            </div>
            @*Feature Item Main start*@

            <div id="FeaturedItes" class="row gap-3 py-4 justify-content-end IndexcategoryItems">
                <div class="col-12 overflow-hidden box-swiper">
                    <div class="row flex-nowrap owl-carousel owl-theme">
                        @foreach (var featured in Model.Featured)
                        {
                            @*Feature Item*@
                            <div class="ecard p-2 col-12 position-relative" style="border-right: 1px solid #c1b1b1">

                                <span class="badge rounded-pill text-bg-primary" style="position: absolute; right: 8%;">PV : @(featured.ProfitPoints)</span>

                                @*<p class="card_text">@featured.CatName</p>*@
                                <div class="abtnMain">
                                    <a asp-action="getProductsBySubCat" asp-controller="subcategories" asp-route-id="@featured.FkSubCategoryId" class="d-block card_text pb-3 aBtn">@featured.CatName</a>
                                </div>
                                <a asp-action="Product" asp-route-id="@featured.ShortName">
                                    <h5 class="card_heading">@featured.ShortName</h5>
                                    <div>
                                        <img class="w-100" src="@("/images/Products/" + featured.FkCustomerId + "/" + featured.ImgUrl)" alt="" />
                                    </div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <h5 class="@("card_price " + (featured.MarkedPrice > featured.SalePrice ? "redPrice" : ""))">@Global.Currancy@featured.SalePrice</h5>
                                        @if (featured.MarkedPrice > featured.SalePrice)
                                        {
                                            <p class="card_pre_price">@Global.Currancy@featured.MarkedPrice</p>
                                        }
                                    </div>
                                    <button class="cartBtn"><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                            @*Feature Item*@
                        }

                    </div>

                </div>
            </div>
            @*Feature Item Main End*@

            @*On Sale Item Main start*@

            <div id="OnsaleItems" class="row gap-3 py-4 justify-content-end IndexcategoryItems">
                <div class="col-12 overflow-hidden box-swiper">
                    <div class="row flex-nowrap owl-carousel owl-theme">
                        @foreach (var onSale in Model.OnSale)
                        {
                            @*Feature Item*@
                            <div class="ecard p-2 col-12 position-relative" style="border-right: 1px solid #c1b1b1">
                                <span class="badge rounded-pill text-bg-primary" style="position: absolute; right: 8%;">PV : @(onSale.ProfitPoints)</span>
                                <div class="abtnMain">
                                    <a asp-action="getProductsBySubCat" asp-controller="subcategories" asp-route-id="@onSale.FkSubCategoryId" class="d-block card_text pb-3 aBtn">@onSale.CatName</a>
                                </div>
                                <a asp-action="Product" asp-route-id="@onSale.ShortName">
                                    <h5 class="card_heading">@onSale.ShortName</h5>
                                    <div>
                                        <img class="w-100" src="@("/images/Products/" + onSale.FkCustomerId + "/" + onSale.ImgUrl)" alt="" />
                                    </div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <h5 class="@("card_price " + (onSale.MarkedPrice > onSale.SalePrice ? "redPrice" : ""))">@Global.Currancy@onSale.SalePrice</h5>
                                        @if (onSale.MarkedPrice > onSale.SalePrice)
                                        {
                                            <p class="card_pre_price">@Global.Currancy@onSale.MarkedPrice</p>
                                        }
                                    </div>
                                    <button class="cartBtn"><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                            @*Feature Item*@
                        }
                    </div>

                </div>
            </div>
            @*Onsale Item Main End*@


            @*Top Reting Item Main start*@

            <div id="RatingItems" class="row gap-3 py-4 justify-content-end IndexcategoryItems">
                <div class="col-12 overflow-hidden box-swiper">
                    <div class="row flex-nowrap owl-carousel owl-theme">
                        @foreach (var topRated in Model.TopRated)
                        {
                            @*Feature Item*@
                            <div class="ecard p-2 col-12 position-relative" style="border-right: 1px solid #c1b1b1">
                                <span class="badge rounded-pill text-bg-primary" style="position: absolute; right: 8%;">PV : @(topRated.ProfitPoints)</span>
                                <div class="abtnMain">
                                    @*<p class="card_text">@featured.FkCategoryId</p>*@
                                    <a asp-action="getProductsBySubCat" asp-controller="subcategories" asp-route-id="@topRated.FkSubCategoryId" class="d-block card_text pb-3 aBtn">@topRated.CatName</a>
                                </div>
                                <a asp-action="Product" asp-route-id="@topRated.ShortName">
                                    <h5 class="card_heading">@topRated.ShortName</h5>
                                    <div>
                                        <img class="w-100" src="@("/images/Products/" + topRated.FkCustomerId + "/" + topRated.ImgUrl)" alt="" />
                                    </div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <h5 class="@("card_price " + (topRated.MarkedPrice > topRated.SalePrice ? "redPrice" : ""))">@Global.Currancy@topRated.SalePrice</h5>
                                        @if (topRated.MarkedPrice > topRated.SalePrice)
                                        {
                                            <p class="card_pre_price">@Global.Currancy@topRated.MarkedPrice</p>
                                        }
                                    </div>
                                    <button class="cartBtn"><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                            @*Feature Item*@
                        }
                    </div>
                </div>
            </div>
            @*Top Rating Item Main End*@

        </div>
    </div>
    @*Featured Topsale And TopRated*@
    @*Deal of the week start*@
    @if (Model.Deals.Count != 0)
    {
        <div class="">
            <div class="heading">
                <h3 class="deal_heading_text">Deals of the Week</h3>
            </div>
            <div class="row one-card owl-carousel owl-themes mainDeals" style="flex-wrap: nowrap; overflow: hidden; position: relative;">
                @foreach (var d in Model.Deals)
                {
                    <div class="deals row p-2 col-12" style="border: 2px solid var(--BColor);border-radius: 1rem;box-shadow: var(--Shadow);">
                        <div class="col-12 col-md-6">
                            <div class="deal_img p-2">
                                <img id="dealImg" src="@("/images/Products/" + d.Product.FkCustomerId + "/" + d.Product.ImgUrl)" />
                            </div>
                            @*  </div>
                    <div class="col-2">*@
                            <div class="realted_deal">
                                <div class="owl-carousel owl-theme">
                                    @foreach (var sImage in d.Images)
                                    {
                                        <div class="realted_deal_img p-2 d-flex justify-content-center align-items-center">
                                            <img src="@("/images/Products/" + d.Product.FkCustomerId + "/" + sImage.ImgUrl)" />
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 py-3 px-2">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between align-item-center p-2">
                                    @* <a class="pb-2 owl-prev disabled" role="presentation" onclick="changeDeals(-1)"><span aria-label="Previous">Previous Deal</span></a>
                            <a class="pb-2" onclick="changeDeals(1)">Next Deal</a>*@
                                </div>
                                <hr />
                                <div class="pt-4 px-3 pb-3 d-flex justify-content-center">
                                    <a asp-action="Product" asp-route-id="@d.Product.ShortName" class="deal_heading">
                                        @d.Product.ShortName
                                    </a>
                                </div>
                                <div class="row justify-content-center pb-2">
                                    <h5 class="col-4 col-md-12 col-lg-4 dealMprice" style="font-family: var(--Mfont);text-decoration-line: line-through;">
                                        @Global.Currancy@d.Product.MarkedPrice
                                    </h5>
                                    <h4 class="col-4 col-md-12 col-lg-4 redPrice dealSprice" style="font-family: var(--Pfont);">
                                        @Global.Currancy@d.Product.SalePrice
                                    </h4>
                                </div>
                                <div class="row">
                                    <p class="col-6 text-start">Available:<strong class="dealAvailable">@d.Product.AvailableQuantity</strong></p>
                                    <p class="col-6 text-end">Already Solid:<strong class="dealSold">@d.Sold</strong></p>
                                </div>
                                <div>
                                    <span class="dealBar w-100">
                                        <span class="dealBar1" style="width: 0%;"></span>
                                    </span>
                                </div>
                                <p class="text text-center pt-4 pb-2">Hurry Up!Offer ends in:</p>

                                <div class="row time justify-content-center">

                                    <div>
                                        <span class="days">@d.RemainingTime.Days</span>
                                        Days
                                    </div>
                                    :
                                    <div>
                                        <span class="hour">@d.RemainingTime.Hours</span>
                                        Hours
                                    </div>
                                    :
                                    <div>
                                        <span class="min">@d.RemainingTime.Minutes</span>
                                        Mins
                                    </div>
                                    :
                                    <div>
                                        <span class="sec">@d.RemainingTime.Seconds</span>
                                        Secs
                                    </div>
                                    @*<p>@d.RemainingTime</p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    @*Deal of the week End*@

    @*All Category wise Items start*@
    <section class="row pt-5 gap-3 justify-content-between">
        <div class="col-12 col-lg-3 latest position-relative">
            <div class="row" style="border-bottom: 1px solid var(--BorderColor)">
                <h4 class="heading_text_sm ps-0">Latest Product</h4>
            </div>
            <div class="owl-carousel owl-theme">
                @foreach (var l in Model.Products)
                {
                    <div class="row pt-3 justify-content-center">
                        <div class="row ecard col-11 py-3 px-2 position-relative">
                            <span class="badge rounded-pill text-bg-primary" style="position: absolute; right: 8%; width: fit-content;">PV : @(l.ProfitPoints)</span>

                            @*<p class="card_text">@featured.CatName</p>*@
                            <div class="abtnMain" style="width: fit-content;">
                                <a asp-action="getProductsBySubCat" asp-controller="subcategories" asp-route-id="@l.FkSubCategoryId" class="d-block card_text pb-3 aBtn">@l.CatName</a>
                            </div>
                            <a asp-action="Product" asp-route-id="@l.ShortName">

                                <div class="col-12">
                                    <img class="w-100" src="@("/images/Products/" + l.FkCustomerId + "/" + l.ImgUrl)" alt="" />
                                </div>
                                <div class="col-12">
                                    <h5 class="text-center">
                                        @l.ShortName
                                    </h5>
                                    <div class="d-flex justify-content-between align-items-center pt-4">
                                        <div class="d-flex justify-content-center w-100 align-items-center">
                                            <h5 class="@("card_price " + (l.MarkedPrice > l.SalePrice ? "redPrice" : ""))">@Global.Currancy@l.SalePrice</h5>
                                            @if (l.MarkedPrice > l.SalePrice)
                                            {
                                                <p class="card_pre_price">@Global.Currancy@l.MarkedPrice</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>

                    </div>
                }
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="row gap-2 justify-content-between" style="border-bottom: 1px solid var(--BorderColor)">
                <h4 class="col-3 heading_text ps-0">BestSallers</h4>

                <div class="col-12 row gap-2 justify-content-end align-items-center col-md-9 text-end">
                    <a class="roundBtn active">Top 20</a>
                    <a class="roundBtn">Phones & Tablet</a>
                    <a class="roundBtn">laptops & Computer</a>
                </div>
                @*  <select class="col-6 btn_768_show" >
                <option>Top 20</option>
                <option>Top 20</option>
                <option>Top 20</option>
                </select>*@
            </div>

            @*Top 20 Items*@
            <div id="top20" class="BestSaller">
                <p class="boxActive" hidden>Top 20</p>
                <div class="row py-3">
                    <div class="owl-carousel owl-theme ">
                        @foreach (var top in Model.Products)
                        {
                            <div class="col-12 ecard py-3 my-2 px-2 position-relative">
                                <span class="badge rounded-pill text-bg-primary" style="position: absolute; right: 3%;">PV : @(top.ProfitPoints)</span>
                                @*<p class="card_text">@featured.CatName</p>*@
                                <div class="abtnMain">
                                    <a asp-action="getProductsBySubCat" asp-controller="subcategories" asp-route-id="@top.FkSubCategoryId" class="d-block card_text pb-3 aBtn">@top.CatName</a>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
                                        <div>
                                            <a asp-action="Product" asp-route-id="@top.ShortName">
                                                <img class="w-100" src="@("/images/Products/" + top.FkCustomerId + "/" + top.ImgUrl)" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        @foreach (var c in Model.Categories)
                                        {
                                            @if (c.CategoryId == top.FkCategoryId)
                                            {
                                                <p class="card_text">@c.Name</p>
                                            }
                                        }
                                        @*<p>Laptops</p>*@
                                        <h5 class="cart_card_heading">
                                            @top.ShortName
                                        </h5>
                                        <div class="d-flex justify-content-between align-items-center pt-4">
                                            <div class="d-block align-items-center">
                                                <h5 class="@("card_price " + (top.MarkedPrice > top.SalePrice ? "redPrice" : ""))">@Global.Currancy@top.SalePrice</h5>
                                                @if (top.MarkedPrice > top.SalePrice)
                                                {
                                                    <p class="card_pre_price">@Global.Currancy@top.MarkedPrice</p>
                                                }
                                            </div>
                                            <button class="cartBtn"><i class="fa-solid fa-cart-shopping"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            @*Phones and Tablet Category*@
            <div id="Phones_Tablet" class="BestSaller hide">
                <p class="boxActive" hidden>Phones & Tablet</p>
                <div class="row py-3">
                    <div class="owl-carousel owl-theme ">
                        @foreach (var top in Model.Products)
                        {
                            <div class="col-12 ecard py-3 my-2 px-2 position-relative">
                                <span class="badge rounded-pill text-bg-primary" style="position: absolute; right: 3%;">PV : @(top.ProfitPoints)</span>
                                @*<p class="card_text">@featured.CatName</p>*@
                                <div class="abtnMain">
                                    <a asp-action="getProductsBySubCat" asp-controller="subcategories" asp-route-id="@top.FkSubCategoryId" class="d-block card_text pb-3 aBtn">@top.CatName</a>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
                                        <div>
                                            <img class="w-100" src="@("/images/Products/" + top.FkCustomerId + "/" + top.ImgUrl)" alt="" />

                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        @foreach (var c in Model.Categories)
                                        {
                                            @if (c.CategoryId == top.FkCategoryId)
                                            {
                                                <p class="card_text">@c.Name</p>
                                            }
                                        }
                                        @*<p>Laptops</p>*@
                                        <h5 class="cart_card_heading">
                                            @top.ShortName
                                        </h5>
                                        <div class="d-flex justify-content-between align-items-center pt-4">
                                            <div class="d-block align-items-center">
                                                <h5 class="@("card_price " + (top.MarkedPrice > top.SalePrice ? "redPrice" : ""))">@Global.Currancy@top.SalePrice</h5>
                                                @if (top.MarkedPrice > top.SalePrice)
                                                {
                                                    <p class="card_pre_price">@Global.Currancy@top.MarkedPrice</p>
                                                }
                                            </div>
                                            <button class="cartBtn"><i class="fa-solid fa-cart-shopping"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @*Laptop and Computer Category*@
            <div id="Laptop_Computer" class="BestSaller hide">
                <p class="boxActive" hidden>laptops & Computer</p>

                <div class="row py-3">
                    <div class="owl-carousel owl-theme ">
                        @foreach (var top in Model.Products)
                        {
                            <div class="col-12 ecard py-3 my-2 px-2 position-relative">
                                <span class="badge rounded-pill text-bg-primary" style="position: absolute; right: 3%;">PV : @(top.ProfitPoints)</span>
                                @*<p class="card_text">@featured.CatName</p>*@
                                <div class="abtnMain">
                                    <a asp-action="getProductsBySubCat" asp-controller="subcategories" asp-route-id="@top.FkSubCategoryId" class="d-block card_text pb-3 aBtn">@top.CatName</a>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
                                        <div>
                                            <img class="w-100" src="@("/images/Products/" + top.FkCustomerId + "/" + top.ImgUrl)" alt="" />

                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        @foreach (var c in Model.Categories)
                                        {
                                            @if (c.CategoryId == top.FkCategoryId)
                                            {
                                                <p class="card_text">@c.Name</p>
                                            }
                                        }
                                        @*<p>Laptops</p>*@
                                        <h5 class="cart_card_heading">
                                            @top.ShortName
                                        </h5>
                                        <div class="d-flex justify-content-between align-items-center pt-4">
                                            <div class="d-block align-items-center">
                                                <h5 class="@("card_price " + (top.MarkedPrice > top.SalePrice ? "redPrice" : ""))">@Global.Currancy@top.SalePrice</h5>
                                                @if (top.MarkedPrice > top.SalePrice)
                                                {
                                                    <p class="card_pre_price">@Global.Currancy@top.MarkedPrice</p>
                                                }
                                            </div>
                                            <button class="cartBtn"><i class="fa-solid fa-cart-shopping"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
    </section>
    @*All Category wise Items end*@


    @*SmartTv Banner STart*@
    <section class="row pt-5 gap-3 justify-content-between">
        <div class="col-3 px-3 customHelp">
            <div class="row px-2 py-2 my- helpCard" style="">
                <div class="col-12 col-lg-4 helpcardImg">
                    <i class="fa-solid fa-truck-fast" style="font-size: 3rem; color: var(--BColor);"></i>
                </div>
                <div class="col-12 col-lg-8 helpcardText">
                    <h5>Free Delivery</h5>
                    <p>from $50</p>
                </div>
            </div>
            <div class="row px-2 py-2 my- helpCard" style="">
                <div class="col-12 col-lg-4 helpcardImg">
                    <i class="fa-solid fa-handshake" style="font-size: 3rem; color: var(--BColor);"></i>
                </div>
                <div class="col-12 col-lg-8 helpcardText">
                    <h5>99% Customer</h5>
                    <p>Feedbacks</p>
                </div>
            </div>
            @* <div class="row px-2 py-2 my- helpCard" style="">
            <div class="col-12 col-lg-4 helpcardImg">
            <i class="fa-solid fa-rotate" style="font-size: 3rem; color: var(--BColor);"></i>
            </div>
            <div class="col-12 col-lg-8 helpcardText">
            <h5>365 Days</h5>
            <p>for free return</p>
            </div>
            </div>*@
            <div class="row px-2 py-2 my- helpCard" style="">
                <div class="col-12 col-lg-4 helpcardImg">
                    <i class="fa-regular fa-credit-card" style="font-size: 3rem; color: var(--BColor);"></i>
                </div>
                <div class="col-12 col-lg-8 helpcardText">
                    <h5>Payment Delivery</h5>
                    <p>Secure System</p>
                </div>
            </div>
            <div class="row px-2 py-2 my- helpCard" style="">
                <div class="col-12 col-lg-4 helpcardImg">
                    <i class="fa-solid fa-globe" style="font-size: 3rem; color: var(--BColor);"></i>
                </div>
                <div class="col-12 col-lg-8 helpcardText">
                    <h5>Only Best</h5>
                    <p>Brands</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 d-flex justify-content-center align-items-center">
            <div class="row" style="border: 1px solid var(--BorderColor);border-radius: 10px;background: var(--hWhite);">
                <div class="col-12 col-sm-5 banner_text" style="margin: auto;">
                    <h4 style="font-size: 3rem;text-align: center;">
                        smart<span style="font-size: 2.5rem;color: #5c5cf4;">TV</span>
                    </h4>
                    <p style="text-align: end;font-size: 1.5rem;margin-top: -15px;">Now with 4K</p>
                    <p style="font-size: 1.5rem;margin-top: -6%;margin-left: 20%;">from</p>
                    <h3 style="font-size: 2.5rem;text-align: center;margin-top: -6%;font-family: var(--Mfont);
">
                        $749.99
                    </h3>
                </div>
                <div class="col-12 col-sm-7">
                    <img src="https://sansomic.tech/wp-content/uploads/2016/03/Widescreen-4K-SUHD-TV.jpg" />
                </div>
            </div>
        </div>
    </section>
    @*SmartTv Banner End*@

    @*Category Wise Product list STart*@
    <section class="row pt-5 gap-3 justify-content-between">
        <div class="col-12 col-sm-12">
            <div class="row gap-2 justify-content-between" style="border-bottom: 1px solid var(--BorderColor)">
                <h4 class="col-12 col-lg-3 heading_text ps-0">Laptops & Computers</h4>
                <div class="col-12 row gap-2 justify-content-end align-items-center col-lg-9 text-end">
                    <a class="roundBtn active">Top 20</a>
                    <a class="roundBtn">Phones & Tablet</a>
                    <a class="roundBtn">laptops & Computer</a>
                </div>
            </div>

            @*Top 20 Items*@
            <div id="top20" class="IndexcategoryItems">
                <p class="boxActive" hidden>Top 20</p>
                <div class="row py-3">
                    <div class="owl-carousel owl-theme ">
                        @foreach (var featured in Model.Products)
                        {
                            <div class="ecard p-2 col-12 position-relative" style="border-right: 1px solid #c1b1b1">

                                <span class="badge rounded-pill text-bg-primary" style="position: absolute; right: 8%;">PV : @(featured.ProfitPoints)</span>

                                @*<p class="card_text">@featured.CatName</p>*@
                                <div class="abtnMain">
                                    <a asp-action="getProductsBySubCat" asp-controller="subcategories" asp-route-id="@featured.FkSubCategoryId" class="d-block card_text pb-3 aBtn">@featured.CatName</a>
                                </div>
                                <a asp-action="Product" asp-route-id="@featured.ShortName">

                                    <h5 class="card_heading">@featured.ShortName</h5>
                                    <div>
                                        <img class="w-100" style="height: 100% !important;" src="@("/images/Products/" + featured.FkCustomerId + "/" + featured.ImgUrl)" alt="" />
                                    </div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <h5 class="@("card_price " + (featured.MarkedPrice > featured.SalePrice ? "redPrice" : ""))">@Global.Currancy@featured.SalePrice</h5>
                                        @if (featured.MarkedPrice > featured.SalePrice)
                                        {
                                            <p class="card_pre_price">@Global.Currancy@featured.MarkedPrice</p>
                                        }
                                    </div>
                                    <button class="cartBtn"><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            @*Phones and Tablet Category*@
            <div id="Phones_Tablet" class="IndexcategoryItems hide">
                <p class="boxActive" hidden>Phones & Tablet</p>
                <div class="row py-3">
                    <div class="owl-carousel owl-theme ">
                        @foreach (var featured in Model.Products)
                        {
                            <div class="ecard p-2 col-12 position-relative" style="border-right: 1px solid #c1b1b1">

                                <span class="badge rounded-pill text-bg-primary" style="position: absolute; right: 8%;">PV : @(featured.ProfitPoints)</span>

                                @*<p class="card_text">@featured.CatName</p>*@
                                <div class="abtnMain">
                                    <a asp-action="getProductsBySubCat" asp-controller="subcategories" asp-route-id="@featured.FkSubCategoryId" class="d-block card_text pb-3 aBtn">@featured.CatName</a>
                                </div>
                                 <a asp-action="Product" asp-route-id="@featured.ShortName">
                                <h5 class="card_heading">@featured.ShortName</h5>
                                <div>
                                    <img class="w-100" style="height: 100% !important;" src="@("/images/Products/" + featured.FkCustomerId + "/" + featured.ImgUrl)" alt="" />
                                </div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <h5 class="@("card_price " + (featured.MarkedPrice > featured.SalePrice ? "redPrice" : ""))">@Global.Currancy@featured.SalePrice</h5>
                                        @if (featured.MarkedPrice > featured.SalePrice)
                                        {
                                            <p class="card_pre_price">@Global.Currancy@featured.MarkedPrice</p>
                                        }
                                    </div>
                                    <button class="cartBtn"><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @*Laptop and Computer Category*@
            <div id="Laptop_Computer" class="IndexcategoryItems hide">
                <p class="boxActive" hidden>laptops & Computer</p>

                <div class="row py-3">
                    <div class="owl-carousel owl-theme ">
                        @foreach (var featured in Model.Products)
                        {
                            <div class="ecard p-2 col-12 position-relative" style="border-right: 1px solid #c1b1b1">

                                <span class="badge rounded-pill text-bg-primary" style="position: absolute; right: 8%;">PV : @(featured.ProfitPoints)</span>

                                @*<p class="card_text">@featured.CatName</p>*@
                                <div class="abtnMain">
                                    <a asp-action="getProductsBySubCat" asp-controller="subcategories" asp-route-id="@featured.FkSubCategoryId" class="d-block card_text pb-3 aBtn">@featured.CatName</a>
                                </div>
                                 <a asp-action="Product" asp-route-id="@featured.ShortName">
                                <h5 class="card_heading">@featured.ShortName</h5>
                                <div>
                                    <img class="w-100" style="height: 100% !important;" src="@("/images/Products/" + featured.FkCustomerId + "/" + featured.ImgUrl)" alt="" />
                                </div>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <h5 class="@("card_price " + (featured.MarkedPrice > featured.SalePrice ? "redPrice" : ""))">@Global.Currancy@featured.SalePrice</h5>
                                        @if (featured.MarkedPrice > featured.SalePrice)
                                        {
                                            <p class="card_pre_price">@Global.Currancy@featured.MarkedPrice</p>
                                        }
                                    </div>
                                    <button class="cartBtn"><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>


    </section>
    @*Category Wise Product list End*@

    <partial name="brands" />
    <partial name="TopItems" />

</div>
<partial name="FooterSignUp" />

@*<script src="~/js/swiper-bundle.min.js" />*@
<script>
    let f = document.getElementById("Featured");
    let o = document.getElementById("OnSales");
    let t = document.getElementById("TopReted");
    let fItem = document.getElementById("FeaturedItes");
    let oItem = document.getElementById("OnsaleItems");
    let tItem = document.getElementById("RatingItems");
    f.addEventListener("click", () => {
        f.classList.add("active");
        o.classList.remove("active");
        t.classList.remove("active");
        fItem.style.display = "block";
        oItem.style.display = "none";
        tItem.style.display = "none";
    })
    o.addEventListener("click", () => {
        f.classList.remove("active");
        o.classList.add("active");
        t.classList.remove("active");
        fItem.style.display = "none";
        oItem.style.display = "block";
        tItem.style.display = "none";
    })
    t.addEventListener("click", () => {
        f.classList.remove("active");
        o.classList.remove("active");
        t.classList.add("active");
        fItem.style.display = "none";
        oItem.style.display = "none";
        tItem.style.display = "block";
    })
    let deal = document.getElementsByClassName("realted_deal_img");

    for (let i = 0; i < deal.length; i++) {
        deal[i].addEventListener("click", (e) => {
            document.getElementById("dealImg").src = e.target.src;
            for (let i = 0; i < deal.length; i++) {
                deal[i].classList.remove("active")

            }
            e.target.parentElement.classList.add("active")
        })
    }

    //Bestsaller
    let top20 = document.getElementById("top20");
    let Phones_Tablet = document.getElementById("Phones_Tablet");
    let Laptop_Computer = document.getElementById("Laptop_Computer");
    let cameras = document.getElementById("cameras");
    let cBtn = document.getElementsByClassName("roundBtn");
    let activeBox = document.getElementsByClassName("boxActive");
    cBtnVal = cBtn.length;
    for (let i = 0; i < cBtnVal; i++) {
        cBtn[i].addEventListener("click", (e) => {
            let target = e.target;
            for (let i = 0; i < cBtnVal; i++) {
                cBtn[i].classList.remove("active");

            }
            target.classList.add("active");
            for (let j = 0; j < activeBox.length; j++) {
                for (let j = 0; j < activeBox.length; j++) {
                    if (target.innerHTML == activeBox[j].innerHTML) {
                        activeBox[j].parentElement.classList.remove("hide");
                    }
                    else {
                        activeBox[j].parentElement.classList.add("hide");

                    }
                }
            }
        })
    }

    //function preDeal(e) {
    //    console.log(e.target)
    //}
    //function nextDeal() {
    //    console.log("Next")
    //}

    let d = 0;
    //deals();
    //function deals() {
    //    var de = document.getElementsByClassName("deals");
    //    for(let i = 0; i < de.length; i++) {
    //        de[i].style.display = "none";
    //    }
    //    d++;
    //    if(d > de.length){d = 1}
    //    console.log(d)
    //    //de[d].style.display = "block";
    //    console.log(de[d-1].style.display = "flex")
    //    setTimeout(deals, 8000)
    //}

    //Deals Time

    let Maindeal = document.getElementsByClassName("deals");
    let dealLength = Maindeal.length;




    for (let i = 0; i < dealLength; i++) {

        let sec = Maindeal[i].getElementsByClassName("sec")[0]
        let min = Maindeal[i].getElementsByClassName("min")[0]
        let hour = Maindeal[i].getElementsByClassName("hour")[0]
        let day = Maindeal[i].getElementsByClassName("days")[0]

        const timer = setInterval(() => {

            sec.innerHTML = sec.innerHTML - 1
            if (sec.innerHTML < 0) {
                sec.innerHTML = 59;
                min.innerHTML = min.innerHTML - 1;
                if (min.innerHTML < 0) {
                    min.innerHTML = 59;
                    hour.innerHTML = hour.innerHTML - 1;
                    if (hour.innerHTML < 0) {
                        hour.innerHTML = 24;
                        day.innerHTML = day.innerHTML - 1;
                    }
                }
            }
            if (day.innerHTML == 0 & hour.innerHTML == 0 && min.innerHTML == 0 && sec.innerHTML == 0) {

                hourinnerHTML = 0;
                mininnerHTML = 0;
                secinnerHTML = 0;
                //console.log(hourinnerHTML)
                //console.log(secinnerHTML)
                //console.log(mininnerHTML)
                clearInterval(timer);
            }
        }, 1000)

        let bar = Maindeal[i].getElementsByClassName('dealBar1')[0]
        let availabe = Maindeal[i].getElementsByClassName('dealAvailable')[0].innerHTML
        let sold = Maindeal[i].getElementsByClassName('dealSold')[0].innerHTML
        let availNum = Number(availabe);
        let soldNum = Number(sold);
        let totalQuantity = (availNum + soldNum);
        let persentage = Number(soldNum / totalQuantity) * 100;
        bar.style.width = persentage + "%";
        console.log(totalQuantity);
        console.log(persentage)

    }
</script>

@*         //console.log(sec[0].innerHTML-1)
        sec[0].innerHTML = (sec[0].innerHTML) - 1
        if (sec[0].innerHTML < 0) {
            sec[0].innerHTML = 59;
            min[0].innerHTML = min[0].innerHTML - 1;
            if (min[0].innerHTML < 0) {
                min[0].innerHTML = 59;
                hour[0].innerHTML = hour[0].innerHTML - 1;
            }
        }
        if (hour[0].innerHTML == 0 && min[0].innerHTML == 0 && sec[0].innerHTML == 0) {
            hour[0].innerHTML = 0;
            min[0].innerHTML = 0;
            sec[0].innerHTML = 0;
            console.log(hour[0].innerHTML)
            console.log(sec[0].innerHTML)
            console.log(min[0].innerHTML)
            clearInterval(timer);*@