@model IEnumerable<ShopBuy7.Models.Banner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FkCustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BannerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FkCustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileImgUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebImgUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BannerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BannerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BannerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BannerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
