@model ShopBuy7.Models.Product

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        </div>
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="FkCustomerId" class="form-control" />
            <div class="form-group">
                <label class="control-label">Category</label>
                <select asp-for="FkCategoryId" class="form-control">
                    @foreach(var cat in ViewBag.categories)
                    {
                        <option value="@cat.CategoryId" class="control-label">@cat.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Sub-Category</label>
                <select asp-for="FkSubCategoryId" class="form-control">
                    @foreach (var cat in ViewBag.subcategories)
                    {
                        <option value="@cat.SubCategoryId" class="control-label">@cat.Name</option>
                    }
                </select>
            </div>  
            <div class="form-group">
                <label class="control-label">Brand</label>
                <select asp-for="FkBrandId" class="form-control">
                    @foreach (var brand in ViewBag.brands)
                    {
                        <option value="@brand.BrandId" class="control-label">@brand.Name</option>
                    }
                </select>
            </div>  
            <div class="form-group">
                <label class="control-label">Made in</label>
                <select asp-for="MadeIn" class="form-control">
                        <option value="Unknown" class="control-label">Unkown</option>
                        <option value="Pakistan" class="control-label">Pakistan</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Warranty</label>
                <select asp-for="Warranty" class="form-control">
                    <option value="No Warranty" class="control-label">No Warranty</option>
                    <option value="Barand Warranty" class="control-label">Barand Warranty</option>
                    <option value="Local Warranty" class="control-label">Local Warranty</option>
                </select>
            </div>            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherDetail" class="control-label"></label>
                <input asp-for="OtherDetail" class="form-control" />
                <span asp-validation-for="OtherDetail" class="text-danger"></span>
            </div>            
            
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Price Unit</label>
            <select id="unit" asp-for="PriceUnit" class="form-control">
                <option value="/ Unit">/ Unit</option>
                <option value="/ Pair ">/ Pair</option>
                <option value="/ Suit ">/ Suit</option>
                <option value="/ Dozen ">/ Dozen</option>
                <option value="/2 Dozen ">/2 Dozen</option>
                <option value="/3 Dozen ">/3 Dozen</option>
                <option value="/ Piece ">/ Piece</option>
                <option value="/ Kg">/ Kg</option>
                <option value="/ Gram">/ Gram</option>
            </select>  
            </div>
            <div class="form-group">
                <label asp-for="AvailableQuantity" class="control-label"></label>
                <input asp-for="AvailableQuantity" class="form-control" />
                <span asp-validation-for="AvailableQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkedPrice" class="control-label"></label>
                <input asp-for="MarkedPrice" class="form-control" />
                <span asp-validation-for="MarkedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePrice" class="control-label"></label>
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tax" class="control-label"></label>
                <input asp-for="Tax" class="form-control" />
                <span asp-validation-for="Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfitPoints" class="control-label"></label>
                <input asp-for="ProfitPoints" class="form-control" />
                <span asp-validation-for="ProfitPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label class="control-label">Upload product primary image</label>
                <input asp-for="MyImage" class="form-control" accept="Image/*" />
                <span asp-validation-for="MyImage" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label class="control-label">Upload product gallary images</label>
                <input name="GallaryImages" type="file" accept="Image/*" multiple class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Add product tags (separate each tag using ",")</label>
                <input asp-for="Tags" placeholder="e.g Mobile,Samsung,Galaxy a32" class="form-control input_feild-style border-radious"></input>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Add product Specialities (separate each using ",")</label>
                <input name="Specialities" placeholder="e.g Best quality, Top rated, Buy 1 get 1 free" class="form-control input_feild-style border-radious"></input>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
